@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
    margin: auto 10%;
}

.sidebar {
    width: 40%;
    position: relative;
}

#fern {
    width: 100%;
    height: 100%;
}

.box {
    position: absolute;
    top: 2rem;
    height: 6rem;
    background: rgba(255,255,255,.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 20%;
}

#brand {
    font-family: Norse-Bold;
    font-size: 3rem;
}

#credit a {
    text-align: center;
    font-size: .75em;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    color: white;
}

.signup-form {
    background: rgb(229, 238, 229);
    width: 60%;
    padding: 20px;
}

.signup-form div {
    margin: 10px;
    font-size: 1.25em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.intro:first-child {
    margin-top: 50px;
}

form {
    margin: 20px 10px;
}

label {
    display: block;
    font-size: .5em;
}

.formrow {
    display: flex;
    justify-content: space-between;
}

input {
    border: 1px solid #aaa;
    border-radius: .5em;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: .75em;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: inset 1px 5px rgba(158, 203, 240, .5);
}

input:invalid {
    border: 1px solid red;
    color: red;
}

.error {
    font-size: .5em;
    font-weight: normal;
    color: red;
    visibility: hidden;
    display: block;
    margin-top: .1em;
}

input[type='password']:invalid ~.error {
    visibility: visible;
}

.formrow:last-child {
    margin-top: 30px;
    border-top: 2px solid #aaa;
}

button {
    font-family: inherit;
    font-size: 100%;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 5px;
    width: 10em;
    height: 2em;
    margin: 30px 10px;
    background-color: #aaa;
    cursor: pointer;
}

button:hover,
button:focus {
    outline: none;
    background: #000;
    color: #aaa;
}

#login {
    margin-bottom: 30px;
}

#login a {
    text-decoration: none;
    color: rgb(8, 77, 8);
}

#login a:hover {
    color:rgb(11, 131, 11)
}