@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
    margin: auto 10%;
}

.sidebar {
    width: 40%;
    position: relative;
}

#fern {
    width: 100%;
    height: 100%;
}

.box {
    position: absolute;
    top: 2rem;
    height: 6rem;
    background: rgba(255,255,255,.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 20%;
}

#brand {
    font-family: Norse-Bold;
    font-size: 3rem;
}

#credit a {
    text-align: center;
    font-size: .75em;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    color: white;
}

.signup-form {
    background: rgb(229, 238, 229);
    width: 60%;
    padding: 20px;
}

.signup-form div {
    margin: 10px;
    font-size: 1.25em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.intro:first-child {
    margin-top: 50px;
}

#login {
    margin-bottom: 50px;
}

form {
    margin: 20px 10px;
}

label {
    display: block;
    font-size: .5em;
}

.formrow {
    display: flex;
    justify-content: space-between;
}

input {
    border: 1px solid #aaa;
    border-radius: .5em;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

input:focus {
    background: rgba(0,0,0,.8);
    color: #aaa;
    font-weight: bold;
}

button {
    font-family: inherit;
    font-size: 100%;
}